body{
    margin-top: 30px;
    font-size: 16px;
    background-image: url(https://th.bing.com/th/id/R.7eba3d9fb1632e9f131c87261e87fc54?rik=zhd5W9ArkKUqcw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fFj4g4zO.jpg&ehk=MithcequUwfLAdDLNBGOG%2bjy9dr%2b%2f%2bB3BAPEqptMMQI%3d&risl=&pid=ImgRaw&r=0);
    background-image: url(https://getwallpapers.com/wallpaper/full/b/c/e/1496695-most-popular-hd-tree-wallpaper-1080x1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
